$BACKGROUND: #2B2B36;
$BACKGROUND_BLACK: #20212A;
$BACKGROUND_EXTRA_BLACK: #1A1C22;
$BACKGROUND_BLACK_HOVER: #24262F;
$BACKGROUND_WHITE: #353541;
$BACKGROUND_WHITE_HOVER: #424250;

$MAIN_COLOR: #5D61ED;
$MAIN_COLOR_HOVER: #7275ED;
$COLOR_WHITE: #F5F5F5;
$COLOR_RED: #E25D5D;
$COLOR_GRAY: #4B4B5C;
$COLOR_SEMI_GRAY: #66667C;

$BORDER_DEFAULT: #393946;