@import '../global/root.scss';

.btn {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
}

.mainButton {
  background-color: $MAIN_COLOR;
  color: $COLOR_WHITE;
}

.whiteButton {
  background-color: $BACKGROUND_WHITE;
  color: $COLOR_WHITE;
}