$BACKGROUND: #FFFFFE;
$BACKGROUND_BLACK: #EBEBEB;
$BACKGROUND_EXTRA_BLACK: #D1D1D1;
$BACKGROUND_BLACK_HOVER: #24262F;
$BACKGROUND_WHITE: #353541;
$BACKGROUND_WHITE_HOVER: #424250;

$MAIN_COLOR: #70C676;
$MAIN_COLOR_HOVER: #82D188;
$COLOR_WHITE: #F5F5F5;
$COLOR_BLACK: #333333;
$COLOR_GRAY: #666666;
$COLOR_SEMI_GRAY: #999999;
$COLOR_RED: #E25D5D;

$BORDER_DEFAULT: #393946;